{% extends 'bootstrap_base.html' %}
{% load bootstrap %}
{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
<link rel="stylesheet" href="{{ STATIC_URL }}css/thumbnail-scaling.css">
{% endblock %}
{% block javascript %} 
{{form.media}}
{% endblock %}
</head>
<body>
{% block content %}
<h1> Edit {{ obj.pid }}'s {{dsid}} datastream</h1>
<form method="post">
  {%csrf_token%}
  {{form|bootstrap}}
  <input type="submit" class="btn btn-primary" value="Save"/>
</form>
{% endblock %}
